.form-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Arial', sans-serif;
  color: #333;
}

.input-group {
  margin-bottom: 15px;
}

input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.error-text {
  color: red;
  font-size: 12px;
}

@media (max-width: 600px) {
  .form-container {
    max-width: 90%;
  }
  .signup-link {
  margin-top: 10px;
  text-align: center;
}

.signup-link a {
  color: #3498db; 
  text-decoration: none;
}

.signup-link a:hover {
  text-decoration: underline; 
}

}





.indicator-menu {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.indicator-button {
  padding: 10px 20px;
  border: 2px solid #333;
  background-color: white;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.indicator-button.active {
  background-color: #333;
  color: white;
}

.indicator-button:hover {
  background-color: #f0f0f0;
}

/* Styles for the uploaded image preview */
.image-preview img {
  max-width: 100%;
  height: auto;
  margin: 20px auto;
  display: block;
}

.paper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  text-align: center;
  position: relative;
  overflow: hidden;
}
